In [3]:
import pandas as pd
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Print the values from columns 'race' to 'salary' from rows 1, 4, and 6.

In [3]:
def solve():
    selected_data = df.loc[[1,4,6],'race':'salary']
    print(selected_data)

In [4]:
solve()

    race     sex  weekhours        country  salary
1  White    Male         13  United-States   40312
4  Black  Female         40           Cuba   31375
6  Black  Female         16        Jamaica   27656

### Calculate the minimum, maximum and the median of the 'age' for the persons with a 'salary' greater than or equal 150000 (rounded to one decimal place)

In [11]:
def solve():
    selected_data = df[df['salary'] >= 150000]
    
    min_age = selected_data['age'].min()
    max_age = selected_data['age'].max()
    median_age = selected_data['age'].median()
    result_series = pd.Series({'min':round(min_age, 1),
                               'max':round(max_age, 1),
                               'median': round(median_age, 1)},
                              name='age')
    print(result_series)

In [12]:
solve()

min       28.0
max       88.0
median    47.0
Name: age, dtype: float64

### Delete the rows from the dataframe where 'sex' is equal to 'Male' and 'age' greater than or equal 45.

In [28]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [29]:
def solve():
    condition = (df['sex'] == 'Male') & (df['age'] >= 45)
    indexes_to_delete = df.loc[condition].index
    df.drop(indexes_to_delete,inplace=True)

In [30]:
print(df.shape)
solve()
print(df.shape)

(10853, 12)
(8790, 12)

### From the adults having a 'salary' greater than or equal 150000 what is the percentage of married people. Consider as married those who have a 'status' starting with 'Married'. (rounded to one decimal place)

In [4]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [5]:
def solve():
    selected_data = df[df['salary'] >= 150000]
    married_count = selected_data[selected_data['status'].str.startswith('Married')]['status'].count()
    
    tot_adults = selected_data.shape[0]
    
    percentage = ((married_count/tot_adults)*100).round(1)
    print(married_count)
    print(f"{percentage}%")

In [6]:
solve()

1159
83.9%

### What is the minimum 'age' and what is the average 'salary' for people with that 'age'. (rounded to one decimal place)

In [67]:
def solve():
    min_age = df['age'].min()
    selected_data = df[df['age'] == min_age]
    
    avg = selected_data['salary'].mean()
    print(f"Minimum age: {min_age}")
    print(f"Average salary for people with that age: {round(avg,1)}")

In [68]:
solve()

Minimum age: 15
Average salary for people with that age: 23585.4

### How many people earn more than 150000. Of those people how many have an 'education' greater than or equal to 13.

In [75]:
def solve():
    selected_data = df[df['salary'] > 150000]['salary'].count()
    high_edu = df[(df['salary'] > 150000) & (df['education'] >= 13)]['salary'].count()
    print(selected_data)
    print(high_edu)

In [76]:
solve()

1358
991

### Create a function 'hif_und(name)' that given a string returns a new string replacing the '-' by '_'. Using the 'hif_und(name)' function update the column 'status' replacing the '-' by '_'

In [83]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [84]:
def hif_und(name):
    return name.replace('-','_')

def solve():
    df['status'] = df['status'].apply(hif_und)

In [85]:
print(hif_und('very-high'))
solve()
print(df.loc[:,'age':'status'].head(3))

very_high
   age         workclass  education              status
0   37         State-gov         13       Never_married
1   48  Self-emp-not-inc         13  Married_civ_spouse
2   36           Private          9            Divorced

In [98]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Print the bottom three values of the number of birthdays per year.

In [99]:
def solve():
    df['birth_year'] = df['birthday'].dt.year
    birthday_Series = df['birth_year'].value_counts()
    bottom = birthday_Series.nsmallest(3)
    
    bottom.name = 'birthday'
    
    print(bottom)

In [100]:
solve()

birth_year
1934    1
1937    1
1940    2
Name: birthday, dtype: int64

### Insert a column named 'retirementdate' before column 'birthday' equal to the retirement date defined as the day the person turns 66 years old.

In [112]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [113]:
def solve():
    retirement_age = 66
    ret =  df['birthday'] + pd.DateOffset(years=retirement_age)
    df.insert(df.columns.get_loc('birthday'),'retirementdate',ret)

In [114]:
solve()
print(df.loc[:,'salary':'birthday'].head(3))

   salary retirementdate   birthday
0   35843     2049-07-13 1983-07-13
1   40312     2038-02-04 1972-02-04
2   30687     2050-12-16 1984-12-16

In [115]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Calculate the percentage of adults by 'status' (rounded to one decimal place) sorted in descending order.

In [118]:
def solve():
    tot_adults = df.shape[0]
    
    percentage_status = (df['status'].value_counts() / tot_adults) * 100
    percentage_status_sorted = percentage_status.sort_values(ascending=False)
    percentage_status_sorted.name = 'status'
    print(percentage_status_sorted.round(1))

In [119]:
solve()

status
Married-civ-spouse       45.7
Never-married            33.0
Divorced                 13.7
Separated                 3.3
Widowed                   2.9
Married-spouse-absent     1.3
Married-AF-spouse         0.1
Name: status, dtype: float64

### Print the columns 'race' to 'salary' for the rows where the 'salary' is greater than 240000 and race is 'Black'.

In [120]:
def solve():
    selected_data = df[(df['salary'] > 240000) & (df['race'] == 'Black')]
    selected_rows = selected_data.loc[:,'race':'salary']
    print(selected_rows)

In [121]:
solve()

       race   sex  weekhours        country  salary
2578  Black  Male         40  United-States  245416
5406  Black  Male         50  United-States  312500
6359  Black  Male         20  United-States  300000

### Calculate the number of persons in each of the following 'age' classes:
[0, 20[ - very_young
[20, 40[ - young
[40, 60[ - middle_age
[60, 80[ - old
[80, 100[ - very_old

In [133]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [134]:
def solve():
    age_bins = [0,20,40,60,80,100]
    age_labels = ['very_young', 'young', 'middle_age', 'old', 'very_old']
    
    df['age_class'] = pd.cut(df['age'],bins = age_bins, labels = age_labels, right=False)
    
    class_cnt = df['age_class'].value_counts()
    class_cnt.name = 'age'
    class_cnt = class_cnt.sort_index()
    print(class_cnt)

In [135]:
solve()
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

age_class
very_young    1055
young         5627
middle_age    3514
old            630
very_old        27
Name: age, dtype: int64

### Calculate the average age by 'status' and 'sex' (rounded to one decimal place).

In [152]:
def solve():
    avg = df.groupby(['status', 'sex'])['age'].mean().round(1)
    avg_table = avg.unstack()
    print(avg_table)

In [153]:
solve()

sex                    Female  Male
status
Divorced                 41.1  39.8
Married-AF-spouse        22.0  32.3
Married-civ-spouse       37.5  41.6
Married-spouse-absent    37.5  39.4
Never-married            26.2  26.3
Separated                37.2  36.8
Widowed                  57.0  58.8

### Print the 'status', the 'race' and the value corresponding to the highest mean 'age' (rounded to one decimal place) by 'status' and 'race'.

In [166]:
def solve():

    mean_age_by_status_race = df.groupby(['status', 'race'])['age'].mean()
    highest_mean_age_index = mean_age_by_status_race.idxmax()

    status, race = highest_mean_age_index
    mean_age_value = mean_age_by_status_race.loc[highest_mean_age_index].round(1)

    print(f"{status}, {race}, {mean_age_value}")

In [167]:
solve()

Widowed, White, 57.6

### Calculate the average salary for 'status': 'Never-married' and 'Married-civ-spouse' for 'race' 'White' (rounded to one decimal place).

In [168]:
def solve():
    filtered_df = df[(df['status'].isin(['Never-married', 'Married-civ-spouse'])) & (df['race'] == 'White')]
    average_salary = filtered_df['salary'].mean().round(1)
    print(average_salary)

In [169]:
solve()

67032.3

### Print the columns 'education' to 'salary' of the rows where the 'education' is greater than 15 and the 'salary' is less than 35000 or the 'education' is less than 5 and the 'salary' is greater than 100000.

In [171]:
def solve():
    filtered_df = df[((df['education'] > 15) & (df['salary'] < 35000)) | ((df['education'] < 5) & (df['salary'] > 100000))]
    
    print(filtered_df.loc[:,'education':'salary'])

In [172]:
solve()

      education                 status      occupation   relationship  \
541          16          Never-married  Prof-specialty      Own-child
574          16          Never-married  Prof-specialty  Not-in-family
2284         16          Never-married  Prof-specialty  Not-in-family
5072          4     Married-civ-spouse           Sales        Husband
6590          4  Married-spouse-absent    Adm-clerical  Not-in-family
6964         16     Married-civ-spouse  Prof-specialty        Husband
7220         16          Never-married    Adm-clerical      Own-child
8126         16          Never-married  Prof-specialty  Not-in-family
8795          4     Married-civ-spouse               ?        Husband

                    race     sex  weekhours        country  salary
541                White    Male         40  United-States   34500
574                White  Female         70  United-States   33500
2284               White    Male         40         Canada   34500
5072               White    Male         50  United-States  100833
6590               White    Male         20          Italy  114166
6964  Asian-Pac-Islander    Male         60          India   34500
7220               White  Female         40  United-States   33500
8126               White    Male         52  United-States   33500
8795               White    Male         40  United-States  100833