### Print the values from columns 'price', 'city' and 'house_size from rows 2 to 5.

In [5]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [6]:
def solve():
    print(df.loc[2:5,['price','city','house_size']])

In [7]:
solve()

    price           city  house_size
2   67000     Juana Diaz       748.0
3  145000          Ponce      1800.0
4   65000       Mayaguez         NaN
5  179000  San Sebastian      2520.0

### Delete the columns 'bed' to 'acre_lot'.

In [3]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [4]:
def solve():
    df.drop(columns=['bed','bath','acre_lot'],inplace=True)

In [5]:
solve()
print(df.head(3))

     status   price        city        state  zip_code  house_size sold_date
0  for_sale  105000    Adjuntas  Puerto Rico     601.0       920.0       NaT
1  for_sale   80000    Adjuntas  Puerto Rico     601.0      1527.0       NaT
2  for_sale   67000  Juana Diaz  Puerto Rico     795.0       748.0       NaT

### Change in row 2 the 'status' to 'sold' and the 'price' to 60000.

In [6]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [7]:
def solve():
    df.loc[2,'status'] = 'sold'
    df.loc[2,'price'] = '60000'

In [8]:
solve()
print(df.head(3))

     status   price  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  105000  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale   80000  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2      sold   60000  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0

   house_size sold_date
0       920.0       NaT
1      1527.0       NaT
2       748.0       NaT

### What is the percentage of houses with a 'house_size' greater than 2000. (rounded to one decimal place)

In [9]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [10]:
def solve():
    filter = df[df['house_size'] > 2000]
    percentage = (len(filter) / len(df)) * 100
    print(round(percentage,1))

In [11]:
solve()

28.9

### Calculate the summary statistics for the column 'house_size'.

In [12]:
def solve():
    filter = df['house_size'].describe()
    print(filter)

In [13]:
solve()

count    7.487000e+03
mean     2.432521e+03
std      1.689467e+04
min      1.000000e+02
25%      1.204500e+03
50%      1.720000e+03
75%      2.600000e+03
max      1.450112e+06
Name: house_size, dtype: float64

### Delete the rows where the 'price' is greater than 800000.

In [14]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [15]:
def solve():
    filter = df[df['price'] > 800000]
    df.drop(filter.index,inplace = True)

In [16]:
print(df.shape)
solve()
print(df.shape)

(10315, 10)
(9216, 10)

### Insert a column named 'price_euros' before column 'bed' converting the value in dollars from column 'price' to euros (1 Dollar = 0.95 Euro) (rounded to one decimal place)

In [17]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [18]:
def solve():
    conversion = 0.95
    df.insert(df.columns.get_loc('bed'),'price_euros',round(df['price'] * conversion, 1))

In [19]:
solve()
print(df.head(3))

     status   price  price_euros  bed  bath  acre_lot        city  \
0  for_sale  105000      99750.0  3.0   2.0      0.12    Adjuntas
1  for_sale   80000      76000.0  4.0   2.0      0.08    Adjuntas
2  for_sale   67000      63650.0  2.0   1.0      0.15  Juana Diaz

         state  zip_code  house_size sold_date
0  Puerto Rico     601.0       920.0       NaT
1  Puerto Rico     601.0      1527.0       NaT
2  Puerto Rico     795.0       748.0       NaT

### Calculate the number of houses by 'status'.

In [20]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [21]:
def solve():
    house_counts = df['status'].value_counts()
    print(house_counts)

In [22]:
solve()

status
for_sale    6960
sold        3355
Name: count, dtype: int64

### Print the top 3 houses in 'price'.

In [23]:
def solve():
    sorted = df.sort_values(by='price', ascending =False)
    top_3 = sorted.head(3)
    print(top_3)

In [24]:
solve()

        status     price  bed  bath  acre_lot           city           state  \
6953      sold  60000000  9.0  10.0    400.00      Woodstock     Connecticut
854   for_sale  25000000  NaN   NaN    100.00        Isabela     Puerto Rico
2714  for_sale  24500000  NaN   NaN    618.36  Christiansted  Virgin Islands

      zip_code  house_size  sold_date
6953    6281.0     18777.0 2003-08-28
854      662.0         NaN        NaT
2714     820.0         NaN        NaT

### Print the columns 'city' to 'house_size' of the rows where the 'house_size' is greater than 40000.

In [25]:
def solve():
    filter = df[df['house_size'] > 40000]
    print(filter.loc[:,'city':'house_size'])

In [26]:
solve()

              city           state  zip_code  house_size
42            Moca     Puerto Rico     676.0     43082.0
2241       Culebra     Puerto Rico     775.0   1450112.0
2898  Frederiksted  Virgin Islands     840.0     49658.0
9045    Middletown     Connecticut    6457.0     99999.0

### What is the 'city' with the house with the highest 'price' (first occurrence).

In [27]:
def solve():
    sorted = df.sort_values(by='price',ascending=False)
    city = sorted.iloc[0]['city']
    print(city)

In [28]:
solve()

Woodstock

### Print the rows where the 'price' is greater than 2000000 and the 'house_size' is less or equal than 1000.

In [29]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [30]:
def solve():

    filtered_rows = df[(df['price'] > 2000000) & (df['house_size'] <= 1000)]

    print(filtered_rows)

In [31]:
solve()

        status    price  bed  bath  acre_lot         city          state  \
8176  for_sale  2500000  NaN   NaN      1.34  Stockbridge  Massachusetts

      zip_code  house_size sold_date
8176    1262.0       500.0       NaT

### Find the average 'price' by 'state' and 'status' (rounded to one decimal place).

In [32]:
def solve():
    avg = df.groupby(['state', 'status'])['price'].mean().round(1)
    result_df = avg.reset_index().pivot_table(index='state', columns='status', values='price')
    print(result_df)

In [33]:
solve()

status          for_sale       sold
state
Connecticut     427973.5   409905.1
Massachusetts   345654.1   450403.9
New Hampshire   318908.7   154112.9
New Jersey      333490.0        NaN
New York        556409.1   817443.7
Puerto Rico     678351.3   428471.4
South Carolina   18950.0        NaN
Vermont         321860.0   303546.2
Virgin Islands  828440.9  1646800.0

### Calculate for each state the 'city' with the highest house 'price'.

In [34]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [35]:
def solve():
    sorted = df.sort_values(by='price',ascending=False)
    unique_max_price = sorted.drop_duplicates(subset='state',keep='first')
    
    unique_max_price = unique_max_price.rename(columns={'city':'City'})
    result = unique_max_price.set_index('state')[['City', 'price']]
    
    result['price'] = result['price'].round(1)

    
    result = result.sort_index()
    


    print(result)

In [36]:
solve()

                         City     price
state
Connecticut         Woodstock  60000000
Massachusetts     Sandisfield  18000000
New Hampshire      Winchester   1743772
New Jersey         Burlington    333490
New York              Chatham  15000000
Puerto Rico           Isabela  25000000
South Carolina      McCormick     18950
Vermont               Halifax   3500000
Virgin Islands  Christiansted  24500000
NaN                       NaN     50000

### Calculate the number of houses in each of the following 'house_size' classes:
[0, 1000[ - very_small
[1000, 2000[ - small
[2000, 3000[ - medium
[3000, 5000[ - large
[5000, 10000[ - very_large

In [37]:
def solve():
    bins = [0, 1000, 2000, 3000, 5000, 10000]
    labels = ['very_small', 'small', 'medium', 'large', 'very_large']
    df['house_size_class'] = pd.cut(df['house_size'],bins=bins,labels=labels, right=False)
    cnt = df['house_size_class'].value_counts()
    cnt.name='house_size'
    print(cnt)

In [38]:
solve()

house_size_class
small         3507
medium        1620
large         1031
very_small     947
very_large     316
Name: house_size, dtype: int64

### Create a function 'ndias(date)' to calculate the number of days between the 'date' and today (2022-06-27).
Use this function within function solve() to create a new column 'days' with the number of days between the 'sold_date' and today (2022-06-27).

In [39]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [40]:
import pandas as pd
from datetime import datetime

# Assuming your DataFrame is named df

def ndias(date):
    # Convert the date string to a datetime object
    date_obj = datetime.strptime(str(date), '%Y-%m-%d')
    
    # Get today's date
    today = datetime.today()

    # Calculate the number of days between the date and today
    days_difference = (today - date_obj).days

    return days_difference

def solve():
    # Convert 'sold_date' to string and create a new column 'days' with the number of days between 'sold_date' and today

    df['days'] = df['sold_date'].apply(ndias)