In [43]:
import pandas as pd

Group by 'class' and print the minimum, maximum and mean of the age.

In [44]:
df = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

In [45]:
def solve():
    grouped_date = df.groupby('class')['age'].agg(['min','max','mean']).round(2)
    print(grouped_date)

In [46]:
solve()

                 min  max   mean
class
ballet            38   57  45.00
cycle             26   59  40.20
hydrogymnastics   37   47  41.83
pilates           24   49  35.73
swimming          23   59  39.10
yoga              44   55  51.00
zumba             29   54  41.67

Create a table with the number of customers by city and sex and by rank classification

In [47]:
def solve():
    customer_table = pd.pivot_table(df, index=['city', 'sex'], columns='rank', values='name', aggfunc='count', fill_value=None)
    print(customer_table)

In [48]:
solve()

rank            excellent  fair  good  very_good
city       sex
Gaia       F          NaN   1.0   NaN        1.0
           M          1.0   3.0   3.0        1.0
Gondomar   F          1.0   1.0   NaN        NaN
           M          2.0   NaN   2.0        1.0
Maia       F          2.0   NaN   1.0        3.0
           M          NaN   NaN   2.0        NaN
Matosinhos F          1.0   2.0   4.0        NaN
           M          NaN   1.0   NaN        2.0
Porto      F          1.0   1.0   7.0        1.0
           M          4.0   4.0   1.0        1.0
Valongo    F          2.0   NaN   1.0        NaN
           M          1.0   NaN   1.0        NaN

Count the number of participants by class and gender.

In [49]:
def solve():
    participant_counts = df.groupby(['class', 'sex']).size()
    print(participant_counts)

In [50]:
solve()

class            sex
ballet           F       1
                 M       2
cycle            F       8
                 M       2
hydrogymnastics  F       5
                 M       1
pilates          F       4
                 M       7
swimming         F       9
                 M      12
yoga             F       1
                 M       2
zumba            F       2
                 M       4
dtype: int64

Given the dataframe df and using the Pandas library create a function 'solve(df, filename)' that should return a new dataframe created by joining to df the columns from the dataframe stored in the file 'filename'. The dataframe in the file has ";" as delimiter and the column "id" should be defined as the index of the dataframe. Only the rows with common "id" in both dataframes shoud be considered.

In [51]:
def solve(df,filename):
    additional_df = pd.read_csv(filename, delimiter=';', index_col='id')
    
    result_df = df.join(additional_df, how='inner', rsuffix='_additional')
    
    return result_df

In [52]:
df = pd.read_csv('quizPD06_09/gym_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

filename = 'quizPD06_09/gym_cols_q1.csv'
df = solve(df, filename)
print(df.shape)
print(df.head(3))

(60, 11)
                   name        date  height  weight  age  hours   status  \
id
1373913  Marisa Martins  02/05/2013     155      48   45      3  married
1109818    Rita Fonseca  28/08/2018     166      54   45      3  married
1158813   Joana Freitas  21/10/2013     150      42   52      3    widow

         children sex            class        city
id
1373913         2   F            cycle       Porto
1109818         3   F  hydrogymnastics  Matosinhos
1158813         1   F            zumba       Porto