In [1]:
import pandas as pd
df = pd.read_csv('supermarket1.csv', sep=';')

## Calculate a summary statistics of the column 'Total'. (rounded to two decimal places)

In [277]:
def solve():
    total_summary = df['Total'].describe().round(2)
    print(total_summary)

In [278]:
solve()

count    1000.00
mean      322.97
std       245.89
min        10.68
25%       124.42
50%       253.85
75%       471.35
max      1042.65
Name: Total, dtype: float64

## Calculate the number of lines by 'Product line'.

In [279]:
def solve():
    lines_by_product = df['Product line'].value_counts()
    print(lines_by_product)

In [280]:
solve()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

## Calculate the percentage of Female and Male customers.

In [281]:
def solve():
    gender_count = df['Gender'].value_counts()
    
    n = len(df)
    
    percentage_f = (gender_count['Female'] / n)*100
    percentage_m = (gender_count['Male'] / n)*100
    
    result_df = pd.DataFrame({
        'Gender': ['Female', 'Male'],
        'Percentage': [round(percentage_f, 1), round(percentage_m, 1)]
    })
    
    result_df.set_index('Gender', inplace=True)

    print(result_df)

In [282]:
solve()

        Percentage
Gender
Female        50.1
Male          49.9

## Calculate the mean of the Invoice 'Total' for Female customers. (rounded to one decimal place)

In [283]:
def solve():
    mean_total_female = df[df['Gender'] == 'Female']['Total'].mean().round(1)
    print(mean_total_female)

In [284]:
solve()

335.1

## Delete the column 'Customer type'.

In [285]:
def solve():
    df.drop('Customer type', axis=1, inplace=True)

In [286]:
solve()
print(df.loc[:,'Invoice ID':'City'].head(3))

    Invoice ID       City
0  750-67-8428     Yangon
1  226-31-3081  Naypyitaw
2  631-41-3108     Yangon

## Calculate the number of Invoices in each of the following 'Total' classes:
[0, 220[ - low
[220, 440[ - fair
[440, 660[ - good
[660, 880[ - very_good
[880, 1100[ - excellent

In [287]:
def solve():
    tot_classes = [0,220,440,660,880,1100]
    
    df['Total'] = pd.cut(df['Total'], bins=tot_classes, labels=['low', 'fair', 'good', 'very_good', 'excellent'], right=False)
    class_cnt =df['Total'].value_counts()
    
    print(class_cnt)

In [288]:
solve()

Total
low          454
fair         264
good         156
very_good     96
excellent     30
Name: count, dtype: int64

## Calculate the invoices 'Total' by 'City' and type of 'Payment'. (rounded to two decimal places)

In [289]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [290]:
def solve():

    total_by_city_payment = pd.pivot_table(df, values='Total', index='City', columns='Payment', aggfunc='sum').round(2)
    
    print(total_by_city_payment)

In [291]:
solve()

Payment        Cash  Credit card   Ewallet
City
Mandalay   35339.46     37344.86  33513.35
Naypyitaw  43085.86     30327.46  37155.38
Yangon     33781.25     33094.75  39324.37

## Insert a column named 'QxPrice' before column 'Tax 5%' equal to the column 'Unit Price' times the column 'Quantity'.

In [292]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [293]:
def solve():
    df['QxPrice'] = df['Unit price'] * df['Quantity']
    
    tax_5 = df.columns.get_loc('Tax 5%')
    
    df.insert(tax_5,'QxPrice',df.pop('QxPrice'))

In [294]:
solve()
print(df.loc[0:2,'Unit price':'Total'])

   Unit price  Quantity  QxPrice   Tax 5%     Total
0       74.69         7   522.83  26.1415  548.9715
1       15.28         5    76.40   3.8200   80.2200
2       46.33         7   324.31  16.2155  340.5255

## Print the columns 'customer type' to 'Unit price' of the rows where the 'Customer type' is 'Member' and the 'Gender' is 'Male' and the 'Unit price' is greater than 99 or the 'Customer type' is 'Normal' and the 'Gender' is 'Female' and the 'Unit price' is greater than 99

In [295]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [296]:
def solve():
    condition_member_male = (df['Customer type'] == 'Member') & (df['Gender'] == 'Male') & (df['Unit price'] > 99)
    condition_normal_female = (df['Customer type'] == 'Normal') & (df['Gender'] == 'Female') & (df['Unit price'] > 99)
    
    final = condition_member_male | condition_normal_female
    
    selected_columns = df.loc[final, 'Customer type':'Unit price']
    
    print(selected_columns)

In [297]:
solve()

    Customer type  Gender            Product line  Unit price
80         Normal  Female       Health and beauty       99.19
120        Normal  Female  Electronic accessories       99.56
122        Member    Male       Sports and travel       99.96
209        Normal  Female  Electronic accessories       99.73
274        Normal  Female       Health and beauty       99.71
283        Member    Male       Health and beauty       99.83
315        Member    Male      Food and beverages       99.37
326        Member    Male      Food and beverages       99.78
382        Normal  Female      Food and beverages       99.69
656        Normal  Female  Electronic accessories       99.69
849        Normal  Female     Fashion accessories       99.10
941        Member    Male     Fashion accessories       99.82

## Replace the space in column names with an underscore.

In [298]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [299]:
def solve():
    df.columns = df.columns.str.replace(' ', '_')

In [300]:
solve()
print(df.loc[:,['Invoice_ID','Customer_type','Product_line','Unit_price','Tax_5%']].head(3))

    Invoice_ID Customer_type            Product_line  Unit_price   Tax_5%
0  750-67-8428        Member       Health and beauty       74.69  26.1415
1  226-31-3081        Normal  Electronic accessories       15.28   3.8200
2  631-41-3108        Normal      Home and lifestyle       46.33  16.2155

## Print the values from columns 'Invoice ID' and 'Total' from row 0 and 2.

In [301]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [302]:
def solve():
    select_values = df.loc[[0,2],['Invoice ID', 'Total']]
    print(select_values)

In [303]:
solve()

    Invoice ID     Total
0  750-67-8428  548.9715
2  631-41-3108  340.5255

## Create a table with the number of invoices by 'City' and 'Customer type' with totals by row and by column.

In [304]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [305]:
def solve():
    invoices_table =  pd.pivot_table(df, values = 'Invoice ID', index = ['City'],columns = ['Customer type'],aggfunc='count', fill_value=0,margins=True, margins_name='All')
    
    print(invoices_table)

In [306]:
solve()

Customer type  Member  Normal   All
City
Mandalay          165     167   332
Naypyitaw         169     159   328
Yangon            167     173   340
All               501     499  1000

## Calculate the total number of units ('Quantity') sold by 'Product line' and the grand total of units sold.

In [307]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [308]:
def solve():
    units = pd.pivot_table(df,values= 'Quantity',index = 'Product line', aggfunc='sum',margins=True,margins_name='All')
    print(units)

In [309]:
solve()

                        Quantity
Product line
Electronic accessories       971
Fashion accessories          902
Food and beverages           952
Health and beauty            854
Home and lifestyle           911
Sports and travel            920
All                         5510

## Print the rows between labels 0 and 2 and between columns 'Total' and 'Payment'.

In [310]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [311]:
def solve():
    selected_data = df.loc[0:2, 'Total':'Payment']
    
    print(selected_data)

In [312]:
solve()

      Total                 Date      Payment
0  548.9715  2019-01-05 13:08:00      Ewallet
1   80.2200  2019-03-08 10:29:00         Cash
2  340.5255  2019-03-03 13:23:00  Credit card

## Change the 'Customer type' in the third row from 'Normal' to 'Member'.

In [313]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [314]:
def solve():
    df.loc[2,'Customer type'] = 'Member'

In [315]:
solve()
print(df.loc[:,'Invoice ID':'Gender'].head(3))

    Invoice ID       City Customer type  Gender
0  750-67-8428     Yangon        Member  Female
1  226-31-3081  Naypyitaw        Normal  Female
2  631-41-3108     Yangon        Member    Male

## Print the columns 'Product line' to 'Total' of the rows where the 'Total' is greater than 1030.

In [2]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [3]:
def solve():
    selected =  df[df['Total'] > 1030].loc[:,'Product line':'Total']
    s = df[df['Total'] > 1030]
    print(df.loc[s.index,'Product line':'Total'])
    print(selected)

In [4]:
solve()

            Product line  Unit price  Quantity  Tax 5%    Total
167  Fashion accessories       98.98        10   49.49  1039.29
350  Fashion accessories       99.30        10   49.65  1042.65
557   Food and beverages       98.52        10   49.26  1034.46
            Product line  Unit price  Quantity  Tax 5%    Total
167  Fashion accessories       98.98        10   49.49  1039.29
350  Fashion accessories       99.30        10   49.65  1042.65
557   Food and beverages       98.52        10   49.26  1034.46

## Delete the rows corresponding to 'City' 'Yangon'.

In [319]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [320]:
def solve():
    df.drop(df[df['City'] == 'Yangon'].index, inplace=True)

In [321]:
solve()
print(df.loc[:,'Invoice ID':'Product line'].head(3))

    Invoice ID       City Customer type  Gender            Product line
1  226-31-3081  Naypyitaw        Normal  Female  Electronic accessories
5  699-14-3026  Naypyitaw        Normal    Male  Electronic accessories
7  315-22-5665  Naypyitaw        Normal  Female      Home and lifestyle

## Print the 'city', the 'Product line' and the value (rounded to two decimal places) corresponding to the maximum sum of the invoices ('Total') by 'Product line' and 'City'

In [322]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [323]:
def solve():
    idx_max_total = df.groupby(['City', 'Product line'])['Total'].sum().idxmax()

    city, product_line = idx_max_total
    max_total_value = df.loc[(df['City'] == city) & (df['Product line'] == product_line), 'Total'].sum().round(2)
    
    print(f"{city}, {product_line}, {max_total_value}")

In [324]:
solve()

Naypyitaw, Food and beverages, 23766.85