Group by class and gender with three columns:
max_age    min_weight    mean_height
with the maximum age, the minimum weight and the mean of the height

In [62]:
import pandas as pd
df5 = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])
df5.head(3)

,name,date,height,weight,age,hours,status,children,sex,class,city,years,rank
id,,,,,,,,,,,,,
1373913,Marisa Martins,05/02/2013,155,48,45,3,married,2,F,cycle,Porto,9,good
1109818,Rita Fonseca,28/08/2018,166,54,45,3,married,3,F,hydrogymnastics,Matosinhos,3,fair
1158813,Joana Freitas,21/10/2013,150,42,52,3,widow,1,F,zumba,Porto,8,good

In [63]:
def solve5():
    result_df = df5.groupby(['class', 'sex']).agg({
        'age': 'max',
        'weight': 'min',
        'height': 'mean'
    })
    
    result_df['height'] = result_df['height'].round(2)
    
    result_df = result_df.rename(columns={
        'age': 'max_age',
        'weight': 'min_weight',
        'height': 'mean_height'
    })

    print(result_df)

In [64]:
solve5()

                     max_age  min_weight  mean_height
class           sex
ballet          F         40          70       166.00
                M         57          45       164.00
cycle           F         59          48       168.12
                M         41          53       152.50
hydrogymnastics F         47          46       159.40
                M         41          68       155.00
pilates         F         46          52       164.00
                M         49          46       158.14
swimming        F         59          45       163.67
                M         51          49       163.58
yoga            F         54          88       175.00
                M         55          55       166.00
zumba           F         52          42       163.50
                M         54          50       170.75

Name of the customer that has more hours in the class 'pilates'.

In [65]:
df = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

In [79]:
def solve():
    pilates = df[df['class'] == 'pilates']
    
    sorted = pilates.sort_values(by='hours', ascending=False)
    
    result = sorted.head(1)
    result = result['name'].values[0]                                  
    
    print(result)

In [80]:
solve()

Francisco Martins

Print the rank and city with the highest number of customers.

In [82]:
df2 = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

In [97]:
def solve2():
    city_counts = df2.groupby('city')['name'].count()
    
    sorted = city_counts.sort_values(ascending=False)
    
    max_city = sorted.index[0]
    rank = max_city['rank'].values[0]    
    
    print(rank)

In [98]:
solve2()

TypeError: string indices must be integers, not 'str'

Compute the average age by class (round to two decimal places and name the column 'avg age')

In [99]:
df3 = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

In [104]:
def solve3():
    result = df3.groupby('class')['age'].mean().round(2).reset_index()
    result = result.rename(columns={'age': 'avg age'}).set_index('class')
    print(result)

In [105]:
solve3()

                 avg age
class
ballet             45.00
cycle              40.20
hydrogymnastics    41.83
pilates            35.73
swimming           39.10
yoga               51.00
zumba              41.67

Create a table with the number of customers by status and sex registered after 2014.

In [112]:
df = pd.read_csv('quizPD06_09/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

In [113]:
def solve4():
    df['date'] = pd.to_datetime(df['date'])

    filtered_df = df[df['date'].dt.year > 2014]
    result = filtered_df.groupby(['status', 'sex']).size().unstack(fill_value=0)
    
    print(result)

In [114]:
solve4()

ValueError: time data "28/08/2018" doesn't match format "%m/%d/%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.