In [114]:
import pandas as pd
import numpy as np
df = pd.read_csv('quizPD10_13/gym2_q1_nan.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

Print a numpy array with the number of rows that have no NaN values and the number of rows that have at least one NaN value.

In [115]:
def solve():
    no_NAN = len(df.dropna())
    
    NAN = len(df) - no_NAN
    
    result = np.array([no_NAN,NAN])
    
    print(result)

In [116]:
solve()

[59  3]

Given a date string (YYYYY-MM-DD HH:MM:SS) and a timezone, assume the date is in UTC and convert it to the given timezone. Return the new date.

In [117]:
def solve(datestr, tmz):
    date_utc = pd.to_datetime(datestr, format='%Y-%m-%d %H:%M:%S', utc=True)
    
    date_converted = date_utc.tz_convert(tmz)

    
    return(date_converted)

In [118]:
print(solve('2022-01-25 16:30:45', 'US/Pacific'))

2022-01-25 08:30:45-08:00

Calculate and print the mean of the 'age' and fill the NaN values with zero and calculate and print the mean again. (rounded to two decimal places)

In [119]:
def solve():
    mean_age_bf = df['age'].mean().round(2)
    print(mean_age_bf)
    
    df['age'].fillna(0,inplace=True)
    mean_age_af = df['age'].mean().round(2)
    print(mean_age_af)

In [120]:
solve()

40.08
38.79

In [121]:
df = pd.read_csv('quizPD10_13/gym2_q1.csv', sep = ";", index_col = 'id', parse_dates = ['date'])

Change the 'rank'  name from old_cat to new_cat and convert the column 'rank' to category dtype.

In [122]:
def solve(old_cat, new_cat):
    
    df['rank'].replace({old_cat: new_cat}, inplace=True)
    
    df['rank'].astype('category')

In [123]:
solve('fair', 'poor')
print(pd.unique(df['rank']))

['good' 'poor' 'very_good' 'excellent']