In [299]:
import pandas as pd
df = pd.read_csv('gym_q1.csv',sep=';', parse_dates=['date'])

## How old is the youngest person.

In [300]:
def solve():
    youngest_age = df['age'].min()
    print(youngest_age)

In [301]:
solve()

23

## What percentage of female customers are on the list (rounded to two decimal places).

In [302]:
def solve2():
    n_total = df['sex'].count()
    n_females = (df['sex'] == 'F').sum()
    
    female_percentage = (n_females / n_total *100).round(2)
    
    print(female_percentage)

In [303]:
solve2()

50.0

## What is the standard deviation of customer ages (rounded to two decimal places).

In [304]:
def solve3():
    std = df['age'].std()
    rounded = round(std,2)
    print(rounded)

In [305]:
solve3()

10.47

## Knowing that the last two digits of the registration number represent the last two digits of the year of registration, build the list of applicants in 2013 aged 50 years or over. View id, name, weight, height and age.

In [306]:
def solve4():
    df['registration_year'] = df['id'] % 100
    
    filter = df[(df['registration_year'] == 13) & (df['age'] >50)]
    
    print(filter[['id','name','weight','height','age']])

In [307]:
solve4()

         id              name  weight  height  age
2   1158813     Joana Freitas      42     150   52
39  1177213  Catarina Pereira      88     175   54

## Print the first 3 rows from df.

In [308]:
def solve5():
    print(df.head(3))

In [309]:
solve5()

        id            name        date  height  weight  age  hours   status  \
0  1373913  Marisa Martins  02/05/2013     155      48   45      3  married
1  1109818    Rita Fonseca  28/08/2018     166      54   45      3  married
2  1158813   Joana Freitas  21/10/2013     150      42   52      3    widow

   children sex  registration_year
0         2   F                 13
1         3   F                 18
2         1   F                 13

## List of people who are over 175 cm tall and have children. View name, height and children.

In [310]:
def solve6():
    filter_df= df[(df['height'] > 175) & (df['children'] > 0)]
    
    print(filter_df[['name','height','children']])

In [311]:
solve6()

                name  height  children
26     Catarina Cruz     176         1
34       Manuel Cruz     178         2
49     Sonia Pereira     178         3
52  Catarina Marinho     178         2
59      Joao Tavares     177         2

## What is the median height of customers.

In [312]:
def solve7():
    mean = df['height'].median()
    print(mean)

In [313]:
solve7()

163.5

## List of married women over 50 years old. View name, age, status ans sex.

In [314]:
def solve8():
    filter = df[(df['status'] == 'married') & (df['sex'] == 'F') & (df['age'] > 50)]
    print(filter[['name','age','status','sex']])

In [315]:
solve8()

                 name  age   status sex
3     Joana Goncalves   59  married   F
7           Rita Cruz   56  married   F
32      Joana Marinho   57  married   F
39   Catarina Pereira   54  married   F
43  Catarina Carvalho   59  married   F