In [1]:
import pandas as pd
df = pd.read_csv('supermarket1.csv', sep=';')

In [6]:
def solve():
    sum = df['Total'].describe().round(2)
    print(sum)

In [7]:
solve()

count    1000.00
mean      322.97
std       245.89
min        10.68
25%       124.42
50%       253.85
75%       471.35
max      1042.65
Name: Total, dtype: float64

In [8]:
def solve():
    print(df['Product line'].value_counts())

In [9]:
solve()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

In [23]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [24]:
def solve():
    gender = df['Gender'].value_counts()
    n = len(df)
    p = (gender / n) *100
    
    print(p)

In [25]:
solve()

Gender
Female    50.1
Male      49.9
Name: count, dtype: float64

In [34]:
def solve():
    selected = df[df['Gender'] == 'Female']
    result = selected['Total'].mean().round(1)
    print(result)

In [35]:
solve()

335.1

In [36]:
def solve():
    df.drop('Customer type',axis=1,inplace=True)

In [37]:
solve()
print(df.loc[:,'Invoice ID':'City'].head(3))

    Invoice ID       City
0  750-67-8428     Yangon
1  226-31-3081  Naypyitaw
2  631-41-3108     Yangon

In [38]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [44]:
def solve():
    bins = [0,220,440,660,880,1100]
    labels = ['low', 'fair', 'good', 'very_good', 'excellent']
    
    df['classs'] = pd.cut(df['Total'],bins=bins,labels=labels,right=False)
    classs_cnt = df['classs'].value_counts()
    print(classs_cnt)

In [45]:
solve()

classs
low          454
fair         264
good         156
very_good     96
excellent     30
Name: count, dtype: int64

In [46]:
def solve():
    tot = pd.pivot_table(df,values='Total',index='City',columns='Payment',aggfunc='sum').round(2)
    print(tot)

In [47]:
solve()

Payment        Cash  Credit card   Ewallet
City
Mandalay   35339.46     37344.86  33513.35
Naypyitaw  43085.86     30327.46  37155.38
Yangon     33781.25     33094.75  39324.37

In [56]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [57]:
def solve():
    QxPrice = df['Unit price'] * df['Quantity']
    df.insert(7,'QxPrice',QxPrice)

In [58]:
solve()
print(df.loc[0:2,'Unit price':'Total'])

   Unit price  Quantity  QxPrice   Tax 5%     Total
0       74.69         7   522.83  26.1415  548.9715
1       15.28         5    76.40   3.8200   80.2200
2       46.33         7   324.31  16.2155  340.5255

In [59]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [60]:
def solve():
    condition_member_male = (df['Customer type'] == 'Member') & (df['Gender'] == 'Male') & (df['Unit price'] > 99)
    condition_normal_female = (df['Customer type'] == 'Normal') & (df['Gender'] == 'Female') & (df['Unit price'] > 99)
    
    selected = df.loc[(condition_member_male|condition_normal_female),'Customer type':'Unit price']
    print(selected)

In [61]:
solve()

    Customer type  Gender            Product line  Unit price
80         Normal  Female       Health and beauty       99.19
120        Normal  Female  Electronic accessories       99.56
122        Member    Male       Sports and travel       99.96
209        Normal  Female  Electronic accessories       99.73
274        Normal  Female       Health and beauty       99.71
283        Member    Male       Health and beauty       99.83
315        Member    Male      Food and beverages       99.37
326        Member    Male      Food and beverages       99.78
382        Normal  Female      Food and beverages       99.69
656        Normal  Female  Electronic accessories       99.69
849        Normal  Female     Fashion accessories       99.10
941        Member    Male     Fashion accessories       99.82

In [62]:
def solve():
    df.columns = df.columns.str.replace(' ','_')

In [63]:
solve()
print(df.loc[:,['Invoice_ID','Customer_type','Product_line','Unit_price','Tax_5%']].head(3))

    Invoice_ID Customer_type            Product_line  Unit_price   Tax_5%
0  750-67-8428        Member       Health and beauty       74.69  26.1415
1  226-31-3081        Normal  Electronic accessories       15.28   3.8200
2  631-41-3108        Normal      Home and lifestyle       46.33  16.2155

In [64]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [67]:
def solve():
    print(df.loc[[0,2],['Invoice ID','Total']])

In [68]:
solve()

    Invoice ID     Total
0  750-67-8428  548.9715
2  631-41-3108  340.5255

In [73]:
def solve():
    i  = pd.pivot_table(df,values = 'Invoice ID',index = ['City'],columns = ['Customer type'],aggfunc='count', fill_value=0,margins=True, margins_name='All')
    print(i)

In [74]:
solve()

Customer type  Member  Normal   All
City
Mandalay          165     167   332
Naypyitaw         169     159   328
Yangon            167     173   340
All               501     499  1000

In [77]:
def solve():
    i = pd.pivot_table(df,values = 'Quantity',index = 'Product line',aggfunc='sum',margins=True,margins_name='All')
    print(i)

In [78]:
solve()

                        Quantity
Product line
Electronic accessories       971
Fashion accessories          902
Food and beverages           952
Health and beauty            854
Home and lifestyle           911
Sports and travel            920
All                         5510

In [79]:
def solve():
    print(df.loc[[0,1,2],'Total':'Payment'])

In [80]:
solve()

      Total                 Date      Payment
0  548.9715  2019-01-05 13:08:00      Ewallet
1   80.2200  2019-03-08 10:29:00         Cash
2  340.5255  2019-03-03 13:23:00  Credit card

In [83]:
def solve():
    df.loc[2,'Customer type'] = 'Member'

In [84]:
solve()
print(df.loc[:,'Invoice ID':'Gender'].head(3))

    Invoice ID       City Customer type  Gender
0  750-67-8428     Yangon        Member  Female
1  226-31-3081  Naypyitaw        Normal  Female
2  631-41-3108     Yangon        Member    Male

In [85]:
def solve():
    s = df[df['Total'] > 1030]
    print(s.loc[:,'Product line':'Total'])

In [86]:
solve()

            Product line  Unit price  Quantity  Tax 5%    Total
167  Fashion accessories       98.98        10   49.49  1039.29
350  Fashion accessories       99.30        10   49.65  1042.65
557   Food and beverages       98.52        10   49.26  1034.46

In [88]:
def solve():
    df.drop(df[df['City'] == 'Yangon'].index,inplace=True)

In [89]:
solve()
print(df.loc[:,'Invoice ID':'Product line'].head(3))

    Invoice ID       City Customer type  Gender            Product line
1  226-31-3081  Naypyitaw        Normal  Female  Electronic accessories
5  699-14-3026  Naypyitaw        Normal    Male  Electronic accessories
7  315-22-5665  Naypyitaw        Normal  Female      Home and lifestyle

In [90]:
df = pd.read_csv('supermarket1.csv', sep=';')

In [101]:
def solve():
    s = df.groupby(['City','Product line'])['Total'].sum().idxmax()
    city,product = s
    max = df.loc[(df['City'] == city) & (df['Product line'] == product),'Total'].sum().round(1)
    print(max)

In [102]:
solve()

23766.9

In [103]:
import pandas as pd
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [107]:
def solve():
    print(df.loc[[1,4,6],'race':'salary'])

In [108]:
solve()

    race     sex  weekhours        country  salary
1  White    Male         13  United-States   40312
4  Black  Female         40           Cuba   31375
6  Black  Female         16        Jamaica   27656

In [109]:
def solve():
    selected =df[df['salary'] >=150000]
    min = selected['age'].min()
    max = selected['age'].max()
    mean = selected['age'].mean()
    result = pd.Series({'min':round(min,1),'max':round(max,1),'mean':round(mean,1)},name = 'age')
    print(result)

In [110]:
solve()

min     28.0
max     88.0
mean    47.5
Name: age, dtype: float64

In [116]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [117]:
def solve():
    con = (df['sex'] == 'Male') & (df['age'] >=45)
    
    df.drop(df.loc[con].index,inplace=True)

In [118]:
print(df.shape)
solve()
print(df.shape)

(10853, 12)
(8790, 12)

In [130]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [141]:
def solve():
    selected = df[df['salary'] >= 150000]
    
    married = selected[selected['status'].str.startswith('Married')].shape[0]
    percentage = round((married/len(selected)) *100,1)
    print(percentage)

In [142]:
solve()

83.9

In [152]:
def solve():
    min_age = df['age'].min()
    avg = df[df['age'] == min_age]
    avvf = round(avg['salary'].mean(),1)
    print(min_age)
    print(avvf)

In [153]:
solve()

15
23585.4

In [157]:
def solve():
    a = df[df['salary'] >150000]
    tot = a.shape[0]
    b = a[a['education'] >=13].shape[0]
    
    print(tot)
    print(b)

In [158]:
solve()

1358
991

In [159]:
def hif_und(name):
    return name.replace('-','_')

def solve():
    df['status'] = df['status'].apply(hif_und)

In [161]:
print(hif_und('very-high'))
solve()
print(df.loc[:,'age':'status'].head(3))

very_high
   age         workclass  education              status
0   37         State-gov         13       Never_married
1   48  Self-emp-not-inc         13  Married_civ_spouse
2   36           Private          9            Divorced

In [164]:
def solve():
    df['year'] = df['birthday'].dt.year
    bs = df['year'].value_counts()
    bottom = bs.nsmallest(3)
    bottom.name = 'birthday'
    print(bottom)

In [165]:
solve()

year
1934    1
1937    1
1940    2
Name: birthday, dtype: int64

In [171]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [172]:
def solve():
    retirement_age = 66
    ret= df['birthday'] + pd.DateOffset(years=retirement_age)
    df.insert(11,'retirementdate',ret)

In [173]:
solve()
print(df.loc[:,'salary':'birthday'].head(3))

   salary retirementdate   birthday
0   35843     2049-07-13 1983-07-13
1   40312     2038-02-04 1972-02-04
2   30687     2050-12-16 1984-12-16

In [182]:
def solve():
    tot = df.shape[0]
    percentage = round((df['status'].value_counts() / tot) *100,1)
    percentage = percentage.sort_values(ascending = False)
    percentage.name = 'status'
    print(percentage)

In [183]:
solve()

status
Married-civ-spouse       45.7
Never-married            33.0
Divorced                 13.7
Separated                 3.3
Widowed                   2.9
Married-spouse-absent     1.3
Married-AF-spouse         0.1
Name: status, dtype: float64

In [184]:
def solve():
    selected = df[(df['salary'] > 240000) & (df['race'] == 'Black')]
    print(df.loc[selected.index,'race':'salary'])

In [185]:
solve()

       race   sex  weekhours        country  salary
2578  Black  Male         40  United-States  245416
5406  Black  Male         50  United-States  312500
6359  Black  Male         20  United-States  300000

In [186]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [197]:
def solve():
    bins = [0,20,40,60,80,100]
    labels = ['very_young', 'young', 'middle_age', 'old', 'very_old']
    df['c'] = pd.cut(df['age'],bins=bins,labels=labels,right=False)
    cnt = df['c'].value_counts()
    a = cnt.sort_index()
    a.name = 'age'
    print(a)

In [198]:
solve()

c
very_young    1055
young         5627
middle_age    3514
old            630
very_old        27
Name: age, dtype: int64

In [203]:
def solve():
    print(round(df.groupby(['status','sex'])['age'].mean(),1).unstack())

In [204]:
solve()

sex                    Female  Male
status
Divorced                 41.1  39.8
Married-AF-spouse        22.0  32.3
Married-civ-spouse       37.5  41.6
Married-spouse-absent    37.5  39.4
Never-married            26.2  26.3
Separated                37.2  36.8
Widowed                  57.0  58.8

In [206]:
def solve():
    s = df.groupby(['status', 'race'])['age'].mean()
    s_idx = s.idxmax()
    status,race = s_idx
    
    mean_avg = s.loc[s_idx].round(1)
    print(status, race, mean_avg)

In [207]:
solve()

Widowed White 57.6

In [208]:
def solve():
    filtered_df = df[(df['status'].isin(['Never-married', 'Married-civ-spouse'])) & (df['race'] == 'White')]
    average_salary = filtered_df['salary'].mean().round(1)
    print(average_salary)

In [209]:
solve()

67032.3

In [211]:
def solve():
    filtered_df = df[((df['education'] > 15) & (df['salary'] < 35000)) | ((df['education'] < 5) & (df['salary'] > 100000))]
    
    print(filtered_df.loc[:,'education':'salary'])

In [212]:
solve()

      education                 status      occupation   relationship  \
541          16          Never-married  Prof-specialty      Own-child
574          16          Never-married  Prof-specialty  Not-in-family
2284         16          Never-married  Prof-specialty  Not-in-family
5072          4     Married-civ-spouse           Sales        Husband
6590          4  Married-spouse-absent    Adm-clerical  Not-in-family
6964         16     Married-civ-spouse  Prof-specialty        Husband
7220         16          Never-married    Adm-clerical      Own-child
8126         16          Never-married  Prof-specialty  Not-in-family
8795          4     Married-civ-spouse               ?        Husband

                    race     sex  weekhours        country  salary
541                White    Male         40  United-States   34500
574                White  Female         70  United-States   33500
2284               White    Male         40         Canada   34500
5072               White    Male         50  United-States  100833
6590               White    Male         20          Italy  114166
6964  Asian-Pac-Islander    Male         60          India   34500
7220               White  Female         40  United-States   33500
8126               White    Male         52  United-States   33500
8795               White    Male         40  United-States  100833

In [213]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [214]:
def solve():
    print(df.loc[2:5,['price','city','house_size']])

In [215]:
solve()

    price           city  house_size
2   67000     Juana Diaz       748.0
3  145000          Ponce      1800.0
4   65000       Mayaguez         NaN
5  179000  San Sebastian      2520.0

In [216]:
def solve():
    df.drop(columns=['bed','bath','acre_lot'],inplace=True)

In [217]:
solve()
print(df.head(3))

     status   price        city        state  zip_code  house_size sold_date
0  for_sale  105000    Adjuntas  Puerto Rico     601.0       920.0       NaT
1  for_sale   80000    Adjuntas  Puerto Rico     601.0      1527.0       NaT
2  for_sale   67000  Juana Diaz  Puerto Rico     795.0       748.0       NaT

In [218]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [219]:
def solve():
    df.loc[2,'status'] = 'sold'
    df.loc[2,'price'] = '60000'

In [221]:
solve()
print(df.head(3))

     status   price  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  105000  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale   80000  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2      sold   60000  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0

   house_size sold_date
0       920.0       NaT
1      1527.0       NaT
2       748.0       NaT

In [230]:
def solve():
    a = df[df['house_size'] > 2000].shape[0]
    n = len(df)
    percentage = round((a / n)*100,1)
    print(percentage)

In [231]:
solve()

2977
28.9

In [232]:
def solve():
    filter = df['house_size'].describe()
    print(filter)

In [233]:
solve()

count    7.487000e+03
mean     2.432521e+03
std      1.689467e+04
min      1.000000e+02
25%      1.204500e+03
50%      1.720000e+03
75%      2.600000e+03
max      1.450112e+06
Name: house_size, dtype: float64

In [236]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [237]:
def solve():
    filter = df[df['price'] > 800000]
    df.drop(filter.index,inplace = True)

In [238]:
print(df.shape)
solve()
print(df.shape)

(10315, 10)
(9216, 10)

In [239]:
def solve():
    price = df['price'] * 0.95
    df.insert(df.columns.get_loc('bed'),'price_euros',price)

In [240]:
solve()
print(df.head(3))

     status   price  price_euros  bed  bath  acre_lot        city  \
0  for_sale  105000      99750.0  3.0   2.0      0.12    Adjuntas
1  for_sale   80000      76000.0  4.0   2.0      0.08    Adjuntas
2  for_sale   67000      63650.0  2.0   1.0      0.15  Juana Diaz

         state  zip_code  house_size sold_date
0  Puerto Rico     601.0       920.0       NaT
1  Puerto Rico     601.0      1527.0       NaT
2  Puerto Rico     795.0       748.0       NaT

In [241]:
def solve():
    print( df['status'].value_counts())

In [242]:
solve()

status
for_sale    6098
sold        3118
Name: count, dtype: int64

In [243]:
def solve():
    n = df.sort_values(by='price',ascending=False)
    top =  n.head(3)
    print(top)

In [244]:
solve()

        status   price  price_euros  bed  bath  acre_lot         city  \
6844  for_sale  800000     760000.0  NaN   NaN    172.90  Phillipston
2047  for_sale  800000     760000.0  2.0   3.0      0.06   Rio Grande
622   for_sale  800000     760000.0  4.0   4.0       NaN       Dorado

              state  zip_code  house_size sold_date
6844  Massachusetts    1331.0         NaN       NaT
2047    Puerto Rico     721.0      1900.0       NaT
622     Puerto Rico     646.0       882.0       NaT

In [257]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [258]:
def solve():
    n = df[df['house_size'] > 40000]
    print(df.loc[n.index,'city':'house_size'])

In [259]:
solve()

              city           state  zip_code  house_size
42            Moca     Puerto Rico     676.0     43082.0
2241       Culebra     Puerto Rico     775.0   1450112.0
2898  Frederiksted  Virgin Islands     840.0     49658.0
9045    Middletown     Connecticut    6457.0     99999.0

In [278]:
def solve():
    sorted = df.sort_values(by='price',ascending=False)
    index =  sorted.head(1).index
    city = df.loc[index,'city']
    print(city)

In [279]:
solve()

6953    Woodstock
Name: city, dtype: object

In [280]:
def solve():

    filtered_rows = df[(df['price'] > 2000000) & (df['house_size'] <= 1000)]

    print(filtered_rows)

In [281]:
solve()

        status    price  bed  bath  acre_lot         city          state  \
8176  for_sale  2500000  NaN   NaN      1.34  Stockbridge  Massachusetts

      zip_code  house_size sold_date
8176    1262.0       500.0       NaT

In [284]:
def solve():
    avg = df.groupby(['state','status'])['price'].mean().round(1).unstack()
    print(avg)

In [285]:
solve()

status          for_sale       sold
state
Connecticut     427973.5   409905.1
Massachusetts   345654.1   450403.9
New Hampshire   318908.7   154112.9
New Jersey      333490.0        NaN
New York        556409.1   817443.7
Puerto Rico     678351.3   428471.4
South Carolina   18950.0        NaN
Vermont         321860.0   303546.2
Virgin Islands  828440.9  1646800.0

In [293]:
def solve():
    sorted = df.sort_values(by='price',ascending=False)
    unique_max_price = sorted.drop_duplicates(subset='state',keep='first')
    
    unique_max_price = unique_max_price.rename(columns={'city':'City'})
    result = unique_max_price.set_index('state')[['City', 'price']]
    
    result['price'] = result['price'].round(1)

    
    result = result.sort_index()
    


    print(result)

In [294]:
solve()

                         City     price
state
Connecticut         Woodstock  60000000
Massachusetts     Sandisfield  18000000
New Hampshire      Winchester   1743772
New Jersey         Burlington    333490
New York              Chatham  15000000
Puerto Rico           Isabela  25000000
South Carolina      McCormick     18950
Vermont               Halifax   3500000
Virgin Islands  Christiansted  24500000
NaN                       NaN     50000

In [298]:
def solve():
    bins = [0, 1000, 2000, 3000, 5000, 10000]
    labels = ['very_small', 'small', 'medium', 'large', 'very_large']
    df['classs'] = pd.cut(df['house_size'],bins=bins,labels=labels,right=False)
    cnt = df['classs'].value_counts()
    cnt = cnt.sort_index()
    print(cnt)

In [299]:
solve()

classs
very_small     947
small         3507
medium        1620
large         1031
very_large     316
Name: count, dtype: int64