In [2]:
import pandas as pd
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Print the values from columns 'race' to 'salary' from rows 1, 4, and 6.

In [3]:
def solve():
    selected_data = df.loc[[1,4,6],'race':'salary']
    print(selected_data)

In [4]:
solve()

    race     sex  weekhours        country  salary
1  White    Male         13  United-States   40312
4  Black  Female         40           Cuba   31375
6  Black  Female         16        Jamaica   27656

### Calculate the minimum, maximum and the median of the 'age' for the persons with a 'salary' greater than or equal 150000 (rounded to one decimal place)

In [11]:
def solve():
    selected_data = df[df['salary'] >= 150000]
    
    min_age = selected_data['age'].min()
    max_age = selected_data['age'].max()
    median_age = selected_data['age'].median()
    result_series = pd.Series({'min':round(min_age, 1),
                               'max':round(max_age, 1),
                               'median': round(median_age, 1)},
                              name='age')
    print(result_series)

In [12]:
solve()

min       28.0
max       88.0
median    47.0
Name: age, dtype: float64

### Delete the rows from the dataframe where 'sex' is equal to 'Male' and 'age' greater than or equal 45.

In [28]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [29]:
def solve():
    condition = (df['sex'] == 'Male') & (df['age'] >= 45)
    indexes_to_delete = df.loc[condition].index
    df.drop(indexes_to_delete,inplace=True)

In [30]:
print(df.shape)
solve()
print(df.shape)

(10853, 12)
(8790, 12)

### From the adults having a 'salary' greater than or equal 150000 what is the percentage of married people. Consider as married those who have a 'status' starting with 'Married'. (rounded to one decimal place)

In [51]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [62]:
def solve():
    selected_data = df[df['salary'] >= 150000]
    married_count = selected_data[selected_data['status'].str.startswith('Married')]['status'].count()
    
    tot_adults = selected_data.shape[0]
    
    percentage = ((married_count/tot_adults)*100).round(1)
    print(f"{percentage}%")

In [63]:
solve()

83.9%

### What is the minimum 'age' and what is the average 'salary' for people with that 'age'. (rounded to one decimal place)

In [67]:
def solve():
    min_age = df['age'].min()
    selected_data = df[df['age'] == min_age]
    
    avg = selected_data['salary'].mean()
    print(f"Minimum age: {min_age}")
    print(f"Average salary for people with that age: {round(avg,1)}")

In [68]:
solve()

Minimum age: 15
Average salary for people with that age: 23585.4

### How many people earn more than 150000. Of those people how many have an 'education' greater than or equal to 13.

In [75]:
def solve():
    selected_data = df[df['salary'] > 150000]['salary'].count()
    high_edu = df[(df['salary'] > 150000) & (df['education'] >= 13)]['salary'].count()
    print(selected_data)
    print(high_edu)

In [76]:
solve()

1358
991

### Create a function 'hif_und(name)' that given a string returns a new string replacing the '-' by '_'. Using the 'hif_und(name)' function update the column 'status' replacing the '-' by '_'

In [83]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [84]:
def hif_und(name):
    return name.replace('-','_')

def solve():
    df['status'] = df['status'].apply(hif_und)

In [85]:
print(hif_und('very-high'))
solve()
print(df.loc[:,'age':'status'].head(3))

very_high
   age         workclass  education              status
0   37         State-gov         13       Never_married
1   48  Self-emp-not-inc         13  Married_civ_spouse
2   36           Private          9            Divorced

In [98]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Print the bottom three values of the number of birthdays per year.

In [99]:
def solve():
    df['birth_year'] = df['birthday'].dt.year
    birthday_Series = df['birth_year'].value_counts()
    bottom = birthday_Series.nsmallest(3)
    
    bottom.name = 'birthday'
    
    print(bottom)

In [100]:
solve()

birth_year
1934    1
1937    1
1940    2
Name: birthday, dtype: int64

### Insert a column named 'retirementdate' before column 'birthday' equal to the retirement date defined as the day the person turns 66 years old.

In [112]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

In [113]:
def solve():
    retirement_age = 66
    ret =  df['birthday'] + pd.DateOffset(years=retirement_age)
    df.insert(df.columns.get_loc('birthday'),'retirementdate',ret)

In [114]:
solve()
print(df.loc[:,'salary':'birthday'].head(3))

   salary retirementdate   birthday
0   35843     2049-07-13 1983-07-13
1   40312     2038-02-04 1972-02-04
2   30687     2050-12-16 1984-12-16

In [115]:
df = pd.read_csv('adult1.csv', sep=';',parse_dates=['birthday'])

### Calculate the percentage of adults by 'status' (rounded to one decimal place) sorted in descending order.

In [118]:
def solve():
    tot_adults = df.shape[0]
    
    percentage_status = (df['status'].value_counts() / tot_adults) * 100
    percentage_status_sorted = percentage_status.sort_values(ascending=False)
    percentage_status_sorted.name = 'status'
    print(percentage_status_sorted.round(1))

In [119]:
solve()

status
Married-civ-spouse       45.7
Never-married            33.0
Divorced                 13.7
Separated                 3.3
Widowed                   2.9
Married-spouse-absent     1.3
Married-AF-spouse         0.1
Name: status, dtype: float64

### Print the columns 'race' to 'salary' for the rows where the 'salary' is greater than 240000 and race is 'Black'.

In [ ]:
def solve():
    selected_data = df[(df['salary'] > 240000) & (df['race'] == 'Black')]
    selected_rows = selected_data.loc[:,'race':'salary']
    print(selected_rows)