Print the values from columns 'price', 'city' and 'house_size from rows 2 to 5.

In [2]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [3]:
def solve():

    
    # Iterating over rows 2 to 5 and printing the specified columns
    for row in df[1:5]:  # Rows are zero-indexed, so we start from 1 for row 2
        price = row['price']
        city = row['city']
        house_size = row['house_size']
        
        # Printing the values
        print(f"${price}\t{city}\t{house_size} sq. ft.")

### Delete the columns 'bed' to 'acre_lot'.

In [9]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [11]:
def solve():
    df.drop(columns=['bed','bath','acre_lot'],inplace=True)

In [12]:
solve()
print(df.head(3))

     status   price        city        state  zip_code  house_size sold_date
0  for_sale  105000    Adjuntas  Puerto Rico     601.0       920.0       NaT
1  for_sale   80000    Adjuntas  Puerto Rico     601.0      1527.0       NaT
2  for_sale   67000  Juana Diaz  Puerto Rico     795.0       748.0       NaT

### Change in row 2 the 'status' to 'sold' and the 'price' to 60000.

In [16]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [17]:
def solve():
    df.loc[2,'status'] = 'sold'
    df.loc[2,'price'] = '60000'

In [18]:
solve()
print(df.head(3))

     status   price  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  105000  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale   80000  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2      sold   60000  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0

   house_size sold_date
0       920.0       NaT
1      1527.0       NaT
2       748.0       NaT

### What is the percentage of houses with a 'house_size' greater than 2000. (rounded to one decimal place)

In [19]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [26]:
def solve():
    filter = df[df['house_size'] > 2000]
    percentage = (len(filter) / len(df)) * 100
    print(round(percentage,1))

In [27]:
solve()

28.9

### Calculate the summary statistics for the column 'house_size'.

In [31]:
def solve():
    filter = df['house_size'].describe()
    print(filter)

In [32]:
solve()

count    7.487000e+03
mean     2.432521e+03
std      1.689467e+04
min      1.000000e+02
25%      1.204500e+03
50%      1.720000e+03
75%      2.600000e+03
max      1.450112e+06
Name: house_size, dtype: float64

### Delete the rows where the 'price' is greater than 800000.

In [40]:
import pandas as pd
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [41]:
def solve():
    filter = df[df['price'] > 800000]
    df.drop(filter.index,inplace = True)

In [42]:
print(df.shape)
solve()
print(df.shape)

(10315, 10)
(9216, 10)

### Insert a column named 'price_euros' before column 'bed' converting the value in dollars from column 'price' to euros (1 Dollar = 0.95 Euro) (rounded to one decimal place)

In [46]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [47]:
def solve():
    conversion = 0.95
    df.insert(df.columns.get_loc('bed'),'price_euros',round(df['price'] * conversion, 1))

In [48]:
solve()
print(df.head(3))

     status   price  price_euro  bed  bath  acre_lot        city        state  \
0  for_sale  105000     99750.0  3.0   2.0      0.12    Adjuntas  Puerto Rico
1  for_sale   80000     76000.0  4.0   2.0      0.08    Adjuntas  Puerto Rico
2  for_sale   67000     63650.0  2.0   1.0      0.15  Juana Diaz  Puerto Rico

   zip_code  house_size sold_date
0     601.0       920.0       NaT
1     601.0      1527.0       NaT
2     795.0       748.0       NaT

### Calculate the number of houses by 'status'.

In [50]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [51]:
def solve():
    house_counts = df['status'].value_counts()
    print(house_counts)

In [52]:
solve()

status
for_sale    6960
sold        3355
Name: count, dtype: int64

### Print the top 3 houses in 'price'.

In [53]:
def solve():
    sorted = df.sort_values(by='price', ascending =False)
    top_3 = sorted.head(3)
    print(top_3)

In [54]:
solve()

        status     price  bed  bath  acre_lot           city           state  \
6953      sold  60000000  9.0  10.0    400.00      Woodstock     Connecticut
854   for_sale  25000000  NaN   NaN    100.00        Isabela     Puerto Rico
2714  for_sale  24500000  NaN   NaN    618.36  Christiansted  Virgin Islands

      zip_code  house_size  sold_date
6953    6281.0     18777.0 2003-08-28
854      662.0         NaN        NaT
2714     820.0         NaN        NaT

### Print the columns 'city' to 'house_size' of the rows where the 'house_size' is greater than 40000.

In [55]:
def solve():
    filter = df[df['house_size'] > 40000]
    print(filter.loc[:,'city':'house_size'])

In [56]:
solve()

              city           state  zip_code  house_size
42            Moca     Puerto Rico     676.0     43082.0
2241       Culebra     Puerto Rico     775.0   1450112.0
2898  Frederiksted  Virgin Islands     840.0     49658.0
9045    Middletown     Connecticut    6457.0     99999.0

### What is the 'city' with the house with the highest 'price' (first occurrence).

In [57]:
def solve():
    sorted = df.sort_values(by='price',ascending=False)
    city = sorted.iloc[0]['city']
    print(city)

In [58]:
solve()

Woodstock

### Print the rows where the 'price' is greater than 2000000 and the 'house_size' is less or equal than 1000.

In [84]:
df = pd.read_csv('usa_real_estate1.csv', sep=';',parse_dates=['sold_date'])

In [85]:
def solve():

    filtered_rows = df[(df['price'] > 2000000) & (df['house_size'] <= 1000)]

    print(filtered_rows)

In [86]:
solve()

        status    price  bed  bath  acre_lot         city          state  \
8176  for_sale  2500000  NaN   NaN      1.34  Stockbridge  Massachusetts

      zip_code  house_size sold_date
8176    1262.0       500.0       NaT

### Find the average 'price' by 'state' and 'status' (rounded to one decimal place).

In [99]:
def solve():
    avg = df.groupby(['state', 'status'])['price'].mean().round(1)
    result_df = avg.reset_index().pivot_table(index='state', columns='status', values='price')
    print(result_df)

In [100]:
solve()

status          for_sale       sold
state
Connecticut     427973.5   409905.1
Massachusetts   345654.1   450403.9
New Hampshire   318908.7   154112.9
New Jersey      333490.0        NaN
New York        556409.1   817443.7
Puerto Rico     678351.3   428471.4
South Carolina   18950.0        NaN
Vermont         321860.0   303546.2
Virgin Islands  828440.9  1646800.0

### Calculate for each state the 'city' with the highest house 'price'.

In [ ]:
def solve():
    max_price = df.groupby('state')['price'].idmax()
    city_max_price = df.loc[max_price. ['state','city','price']]
    
    print(city_max_price)